<div class="container">
    <mat-form-field class="example-form-field">
        <mat-label>Type here...</mat-label>
        <input matInput type="text" #txt>
      </mat-form-field>
      <button mat-button (click)="onChercher(txt.value)" class="ms-1 me-3">Search</button>
      <mat-radio-group>
        <mat-radio-button value="1" (click)="onFilterUp()" >Prix Croissant</mat-radio-button>
        <mat-radio-button value="2" (click)="onFilterDown()" class="ms-3"> Prix Decroissant</mat-radio-button>
      </mat-radio-group>

    <div class="row">
        <div class="col-4" *ngFor="let voyage of listVoyages">
            <app-voyage-cards [voyageParent]="voyage"></app-voyage-cards>
        </div>
    </div>
</div>