<div class="container" *ngFor="let v of lesvoyages">
    <div class="container">

        <div>

            <div class="row">
                <div class="col">
                    <img [src]="v.photo" class="img-fluid text-center" />
                </div>
                <div class="col">
                    <h1 class="mb-5">//TRIP: {{v.libelle | titlecase }}</h1>
                    <div class="d-flex flex-column justify-content-center">
                    <h2>TAKE OFF: {{v.dateDepart|date:"d MMMM YYYY"}}</h2>
                    <h2>LANDING: {{v.dateArrive|date:"d MMMM YYYY"}}</h2>
                    <h2>PRICE: {{v.prix }}<sup>DT</sup></h2>
                    </div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div>
            <h1>Programme du séjour</h1>
            <div>
                <button mat-button (click)="accordion.openAll()">Expand All</button>
                <button mat-button (click)="accordion.closeAll()">Collapse All</button>
            </div>
            <mat-accordion multi>
                <mat-expansion-panel *ngFor="let sej of v.destination">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Jour {{sej.nbJour}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{sej.destination}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    {{sej.description}}
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="mt-5">
            <h1>Services Non Inclus</h1>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Services Non Inclus
                </mat-expansion-panel-header>
                <ul>
                    <li *ngFor="let sni of v.ServicesNonInclus">
                        {{sni}}
                    </li>
                </ul>
            </mat-expansion-panel>
        </div>

    </div>
</div>

<mat-divider></mat-divider>

<div class="container">
    <h1>place a reservation</h1>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmitForm()">

        <ng-template>Identification</ng-template>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
        </mat-form-field>
        <br>
        <ng-template>Contacts</ng-template>
        <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <mat-icon matSuffix>phone</mat-icon>
            <input matInput formControlName="phoneNumber" required>
        </mat-form-field>
        <ng-template>Special demands</ng-template>
        <div class="check">
            <mat-checkbox formControlName="specDemand1">Honeymoon</mat-checkbox>
            <br>
            <mat-checkbox formControlName="specDemand2">Connecting rooms</mat-checkbox>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill" id="txtArea">
                <mat-label>Other</mat-label>
                <textarea matInput formControlName="demand"></textarea>
            </mat-form-field>
        </div>

        <section class="text-center">
            <button mat-raised-button color="accent" type="button">Reset</button>
            <button mat-raised-button color="primary">Submit</button>
        </section>
    </form>
</div>