.container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}



h3 {
    color: orangered;
}
.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .check, mat-checkbox {
      margin:5px;
  }
  mat-form-field  {
    width: 30%;
}
#txtArea {
    width: 90%
}
button {
    margin:5px;
}

#done {
    height:300px;
    margin: 10px;
}