<mat-toolbar color="primary" class="py-3 navbar navbar-expand-lg fixed-top">
    <div class="d-flex">
        <img src="/assets/logo.png" alt=""> 
        <span class="h3 align-self-end me-4 ms-2">Best Tunisia Travel</span>
      <!--  <button mat-raised-button color="accent"> 
            <mat-icon>airplanemode_active</mat-icon>
            Best Tunisia Travel</button> -->
        
        <button mat-flat-button routerLink="/user/accueil" color="primary">Accueil</button>
        <button mat-flat-button routerLink="/user/list-Voyages" color="primary">Voyages</button>
        <button mat-flat-button routerLink="/user/aboutus" color="primary">About us</button>
    </div>
    <span class="spacer"></span>
    <div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" *ngIf="false">
        <mat-icon>settings</mat-icon>
        </button>
        <button mat-flat-button routerLink="/user/login">Login</button>
    </div>
  </mat-toolbar>