<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <div>
      <a class="navbar-brand">BTT Admin</a>
      <button mat-icon-button color="accent" routerLink="/admin/home" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" routerLink="/admin/add-voyage" aria-label="Example icon button with a home icon">
        <mat-icon>add_box</mat-icon>
      </button>
      <button mat-icon-button color="accent" routerLink="/admin/reservations" aria-label="Example icon button with a home icon">
        <mat-icon>description</mat-icon>
      </button>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button routerLink="/user/accueil">Logout</button>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->