<div class="container">
   <h1>Add a new trip</h1> <button mat-raised-button color="primary" (click)="onAdd()">Add the previous information</button>
   <form [formGroup]="VoyageForm" (ngSubmit)="onSubmitForm()">

      <!-- +string(libelle) +string(image) +number(prix) +boolean(nouveau) +date(depart) +date(arrive) (sejour) string(description|textarea)-->
      <!-- string(destination) string(description|textarea) string(image) -->

      <mat-form-field appearance="fill">
         <mat-label>Libelle</mat-label>
         <input matInput formControlName="libelle">
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
         <mat-label>Image</mat-label>
         <input matInput formControlName="photo">
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
         <mat-label>Prix</mat-label>
         <input matInput type="number" formControlName="prix">
      </mat-form-field>
      
      <br>

      <mat-checkbox formControlName="nouveau">Nouveau</mat-checkbox>

      <br>

      <mat-form-field appearance="fill">
         <mat-label>Enter a date range</mat-label>
         <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="dateDepart" [min]="today" placeholder="Start date">
            <input matEndDate formControlName="dateArrive" placeholder="End date">
         </mat-date-range-input>
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-date-range-picker #picker>
           <mat-date-range-picker-actions>
               <button mat-button matDateRangePickerCancel>Cancel</button>
               <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
             </mat-date-range-picker-actions>
         </mat-date-range-picker>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
         <mat-label>Description</mat-label>
         <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <mat-divider></mat-divider>

      <a mat-raised-button color="primary" (click)="setUpDestination()">Add Sejour</a>

      <!--sejour-->
      <ng-container formArrayName="destination">

         <ng-container *ngFor="let destinationForm of destination.controls; let i=index">

            <div class="d-flex justify-content-between alert alert-secondary">

               <ng-container [formGroupName]="i">
                   
                  <h2>Sejour N°{{i+1}}</h2>

                  <div hidden>
                     <mat-form-field appearance="fill">
                        <mat-label>Prix</mat-label>
                        <input matInput type="number" formControlName="nbJour">
                     </mat-form-field>
                  </div>

                  <br>

                  <mat-form-field appearance="fill">
                     <mat-label>destination</mat-label>
                     <input matInput formControlName="destination">
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                     <mat-label>Image</mat-label>
                     <input matInput formControlName="photo">
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                     <mat-label>Description</mat-label>
                     <textarea matInput formControlName="description"></textarea>
                  </mat-form-field>

               </ng-container>
            </div>

         </ng-container>

      </ng-container>

      <section class="text-center">
       <button mat-raised-button color="accent" type="submit" [disabled]="VoyageForm.invalid">Submit</button>
       <button mat-raised-button color="primary" type="button" (click)="onReset()">Reset</button>
   </section>
   </form>
</div>