<div>
    <mat-form-field class="example-form-field ms-5 mt-2">
        <mat-label>Type here...</mat-label>
        <input matInput type="text" #txt>
      </mat-form-field>
      <button mat-button (click)="onChercher(txt.value)" class="ms-1 me-3">Search</button>
    <div class="table-responsive">
        <table class="table table-striped table-bordered border-light table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">libelle</th>
                    <th scope="col">image</th>
                    <th scope="col">prix</th>
                    <th scope="col">nouveau</th>
                    <th scope="col">dateDepart</th>
                    <th scope="col">dateArrive</th>
                    <th scope="col">destination</th>
                    <th scope="col">description</th>
                    <th scope="col">Services non inclus</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of lesVoyages">
                    <th scope="row">{{v.id}}</th>
                    <td>{{v.libelle}}</td>
                    <td> <img [src]="v.photo" height="100px" width="100px" alt=""></td>
                    <td>{{v.prix}}</td>
                    <td> {{v.nouveau}} </td>
                    <td> {{v.dateDepart|date:"d MMMM YYYY"}} </td>
                    <td> {{v.dateArrive|date:"d MMMM YYYY"}} </td>
                    <td>
                        <!-- {{v.destination|json}}-->

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Click here for details
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-sm table-light ">
                                    <thead>
                                        <tr>
                                            <th scope="col">#Jour</th>
                                            <th scope="col">destination</th>
                                            <th scope="col">description</th>
                                            <th scope="col">image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let sej of v.destination">
                                            <th scope="row">{{sej.nbJour}}</th>
                                            <td>{{sej.destination}}</td>
                                            <td>{{sej.description}}</td>
                                            <td>{{sej.image}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-expansion-panel>
                    </td>

                    <td>
                        {{v.description}}
                    </td>

                    <td>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Click here for details
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li *ngFor="let sni of v.ServicesNonInclus"> 
                                    {{sni}}
                                </li>
                            </ul>
                        </mat-expansion-panel>
                        
                    </td>
                    <td>
                        <button mat-raised-button color="accent" [routerLink]="['/admin/home',v.id]">Modifier</button>
                        <button mat-raised-button color="warn" (click)="onSupprimer(v.id)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>