img {
    height:300px;
}
.card {
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 0.5s ease;
    margin:30px;
}

.card:hover {
    transform: scale(1.07);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
  }

.date {
    font-weight:bold;
}

.dateDiv {
    border:0.2px solid rgba(0,0,0,0.1);
    margin:10px;
    padding-top: 10px;
}
.card-title {
    font-weight: 900;
    color: #E53935;
    margin-bottom: 20px;
}



