<div class="card">
    <img class="card-img-top img-fluid" [src]="v.photo" alt="Card image cap">
    <div class="card-body text-center flex-column">
        <h1 class="card-title "> {{v.libelle | uppercase }}</h1>
        <mat-divider></mat-divider>
        <div class="card-text d-flex flex-column justify-content-evenly">
            
            <div class="d-flex dateDiv justify-content-evenly">
                <fa-icon [icon]="['fas','plane-departure']" class="me-3 fa-2x"></fa-icon>
                <h3 class="date">{{v.dateDepart|date:"d MMMM YYYY"}}</h3>
            </div>
            <mat-divider></mat-divider>
            
            <div class="d-flex dateDiv justify-content-evenly">
                <fa-icon [icon]="['fas','plane-arrival']"  class="me-3 fa-2x"></fa-icon>
                <h3 class="date">{{v.dateArrive|date:"d MMMM YYYY"}}</h3>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="card-text d-flex mt-2 justify-content-evenly">
            <span>A partir de {{v.prix }}<sup>DT</sup></span>
            <button [routerLink]="['/user/list-Voyages',v.id]" mat-flat-button color="accent"> Détail</button>
        </div>
    </div>
</div>