<section id="aboutus">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Best Travel Tunisia</h1>
          <p>
              Best Travel Tunisia, better known as BTT, was founded by a group of students in 2019. <br>
              At the start, the idea was conceived in a group project for school but later was fleshed out after two of the co-founders took a liking to it. <br>
              Today, BTT functions as a group of individuals coming together from different parts of the country having no official office, the company embraces the new way of work imposed by the pandemic and strives to be pioneers in this area of progress. 
            </p>
            <blockquote class="blockquote text-center">
                Coming together is a beginning; keeping together is progress; working together is success.
            </blockquote>
            <figcaption class="blockquote-footer text-center">
                Edward Everett Hale
            </figcaption>
        </div>
        <div class="col img-col">
          <img src="./assets/images/team.svg" class="img-fluid" alt="Software Development">
        </div>
      </div>
      <div class="row cards">

        <mat-divider></mat-divider>
  
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="./assets/images/icons/contact.svg" class="icon" alt="Service One"/>
              <h2 class="card-title">24/7 Support</h2>
              <p class="card-text">Our team is always ready to respond to any requests or issues through all of the social medias.</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="./assets/images/icons/cheap.svg" class="icon" alt="Service Two"/>
              <h2 class="card-title">Best Prices.</h2>
              <p class="card-text">We offer the best prices found on the market.</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="./assets/images/icons/cancel.svg" class="icon" alt="Service Three"/>
              <h2 class="card-title">Cancel anytime.</h2>
              <p class="card-text">You are free to cancel anytime with your money back guaranteed.</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>