.carousel-item {
	margin-top: 3rem;
	height: 40rem;
	background: white;
	color: rgb(0, 0, 0);
}

.carText {
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 50px;
}

section {
	padding-top: 50px;
	padding-bottom: 50px;
}

section h1 {
	text-transform: uppercase;
	font-weight: 900;
	color: #E53935;
	text-align: left;
	margin-bottom: 20px;
}

section p {
	font-size: 16px;
	font-weight: 300;
}

button {
	max-width: 50%;
	border-radius: 50px !important;
}

.img-fluid {
	height: 300px;
}

.container {
  margin-bottom: 2rem;
}

.new {
	margin-bottom: 50px;
}

.card {
    transition: 0.5s ease;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.07);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
}

#carousel1 {
	height: 37rem;
	margin-top: 2rem;
	margin-left: 50rem;
}
.carousel-caption {
	margin-right: 60rem;
	margin-bottom: 10rem;
}

mat-divider {
	margin-top: 4rem;
}