.carousel-item {
    height: 32rem;
    background: #777;
    color:white;
}
.carText {

    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
    text-align: left;
    margin-bottom: 20px;
  }
  section p {
    font-size: 16px;
    font-weight: 300;
  }
  button {
    max-width: 50%;
    border-radius: 50px !important;
  }

  #new .new {
  margin-bottom: 50px;
}